#home 
{
    width: 100vw;
}

.title 
{
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
}

#stars-container
{
    position: fixed;
    z-index: -50;
} 




#rocket
{
    width: 100%;
    position: fixed;
    bottom: -300px;
    display: flex;
    justify-content: center;

}

#rocket > img 
{
    width:200px;
}

#rest_of_page
{
    width:100vw;
    height:200vh;
    background-color: red;
}

#welcome
{
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}